{{yield}}
{{#each posts as |post|}}
  {{post-tile
    post=post
  }}
{{/each}}

{{#if isCreatingPost}}
  {{textarea
    value=newPostText
    action="savePost"
  }}
  <button {{action "savePost"}}>Save Post</button>
{{else}}
  <button {{action "createPost"}}>Create Post</button>
{{/if}}

