{{yield}}
<div class="post-list">
  {{#each sortedPosts as |post|}}
    {{post-tile
      post=post
    }}
  {{/each}} 
</div>
{{#if isCreatingPost}}
  {{#modal-dialog
    translucentOverlay=true
    close="cancelPosting"
  }}
    <div>
      {{textarea value=newPostText}}
      <button {{action "savePost"}}>Post</button>
    </div>
  {{/modal-dialog}}
{{else}}
  <img class="create-post" src="assets/images/btn_compose.png" {{action "createPost"}}>
{{/if}}  
