{{yield}}
<div class="post-list">
  {{#each posts as |post|}}
    {{post-tile
      post=post
    }}
  {{/each}} 

  {{#if isCreatingPost}}
    {{#modal-dialog 
      translucentOverlay=true}}
      <div>
        {{textarea
          value=newPostText
          action="savePost"
        }}
      </div>
      <button {{action "savePost"}}>Post</button>
    {{/modal-dialog}}
  {{else}}
    <img src="assets/images/btn_compose.png" {{action "createPost"}}>
  {{/if}}  
  {{!-- {{infinite-scroll-container infiniteModelName='post'}} --}}
</div>
