{{yield}}
{{#each posts as |post|}}
  {{post-tile
    post=post
  }}
{{/each}} 

{{#if isCreatingPost}}
  {{#modal-dialog 
    translucentOverlay=true}}
  <div>
    {{textarea
    value=newPostText
    action="savePost"
    }}
  </div>
    <button {{action "savePost"}}>Save Post</button>
  {{/modal-dialog}}
  
{{else}}
  <button {{action "createPost"}}>Create Post</button>
{{/if}}

